<%= "#{@game.current_player.name} #{params[:choice]} #{@game.opponent.name}" %>
<br>
<%= "#{@game.opponent.name}'s hit points are now: #{@game.opponent.hp}" %>
<br>
<form action='/play'>
  <input type='submit' value='OK'>
</form>
