<%= "#{@game.current_player.name} healed by 10HP" %>
<br>
<%= "#{@game.current_player.name}'s hit points are now: #{@game.current_player.hp}" %>
<br>
<form action='/play'>
  <input type='submit' value='OK'>
</form>
